Build started...
Build succeeded.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;
CREATE TABLE "Alerts" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Message" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "IsRead" boolean NOT NULL,
    CONSTRAINT "PK_Alerts" PRIMARY KEY ("Id")
);

CREATE TABLE "Devices" (
    "Id" text NOT NULL,
    "Name" text NOT NULL,
    "IsOn" boolean NOT NULL,
    "LastActive" timestamp with time zone,
    CONSTRAINT "PK_Devices" PRIMARY KEY ("Id")
);

CREATE TABLE "SensorLogs" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "SensorId" text NOT NULL,
    "Value" double precision NOT NULL,
    "Timestamp" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_SensorLogs" PRIMARY KEY ("Id")
);

CREATE TABLE "Sensors" (
    "Id" text NOT NULL,
    "Name" text NOT NULL,
    "Type" text NOT NULL,
    "Value" double precision NOT NULL,
    "Unit" text NOT NULL,
    "Status" text NOT NULL,
    "LastSeen" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_Sensors" PRIMARY KEY ("Id")
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260117060202_Init', '9.0.0');

COMMIT;


